{
  "openapi": "3.0.0",
  "info": {
    "version": "0.0.1",
    "title": "BCNNow Dashboard API",
    "contact": {
      "email": "contact@example.com",
      "url": "http://bcnnow.decodeproject.eu/"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "x-logo": {
      "url": "https://decodeproject.eu/sites/default/files/favicon_13.png"
    },
    "description": "Documentation for the BCNNow dashboard API developed as part of the [DECODE](https://decodeproject.eu/) project\n\n# Introduction\n\nSome text describing the purpose of the API\n\n# Authentication\n\nThe API currently does not require any authentication in order to submit requests.\n"
  },
  "tags": [
    {
      "name": "Create",
      "description": "Endpoints that allow for the creation of new dashboards"
    }
  ],
  "servers": [
    {
      "url": "http://bcnnow.decodeproject.eu"
    }
  ],
  "paths": {
    "/community/create_encrypted": {
      "post": {
        "tags": [
          "Create"
        ],
        "summary": "Create an encrypted dashboard",
        "description": "This endpoint allows the caller to create a new encrypted dashboard. An encrypted dashboard is one that has an associated keypair, and should only be accessible by users who can prove their membership of the related community via the Coconut protocol.\n",
        "operationId": "createEncrypted",
        "responses": {
          "200": {
            "description": "Dashboard created OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncryptedDashboardResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncryptedDashboardRequest"
              }
            }
          },
          "description": "New dashboard object",
          "required": true
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AuthorizableAttributeID": {
        "type": "string",
        "description": "Unique string that identifies an authorizable attribute that has already been registered with the credential issuer",
        "example": "7d6agshdks9"
      },
      "CommunityID": {
        "type": "string",
        "description": "Unique string that identifies the community",
        "example": "7679655b-4c30-4c32-9ae9-a6f1af4a64d0"
      },
      "CommunityName": {
        "type": "string",
        "description": "The name of the community - will be shown on the dashboard",
        "example": "Placa del Sol Neighbourhood Group"
      },
      "CredentialIssuerEndpointAddress": {
        "type": "string",
        "format": "url",
        "description": "URL that points to the credential issuer where the referenced authorizable attribute has been already registered",
        "example": "https://credential.decodeproject.eu"
      },
      "DashboardID": {
        "type": "string",
        "description": "Unique identifier of the dashboard",
        "example": "5aee90fd-8aeb-40b2-bb41-e31e6ed40cfd"
      },
      "EncryptedDashboardRequest": {
        "type": "object",
        "description": "Request object sent to the dashboard API in order to create a new encrypted dashboard",
        "properties": {
          "community_name": {
            "$ref": "#/components/schemas/CommunityName"
          },
          "community_id": {
            "$ref": "#/components/schemas/CommunityID"
          },
          "authorizable_attribute_id": {
            "$ref": "#/components/schemas/AuthorizableAttributeID"
          },
          "credential_issuer_endpoint_address": {
            "$ref": "#/components/schemas/CredentialIssuerEndpointAddress"
          }
        },
        "required": [
          "community_name",
          "community_id",
          "authorizable_attribute_id",
          "credential_issuer_endpoint_address"
        ]
      },
      "EncryptedDashboardResponse": {
        "type": "object",
        "description": "Response returned on successfully creating an encrypted dashboard",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/DashboardID"
          },
          "public_key": {
            "$ref": "#/components/schemas/PublicKey"
          }
        }
      },
      "PublicKey": {
        "type": "string",
        "description": "The public part of an encryption keypair generated by Zenroom",
        "example": "BHR2u2wQ4lekHcRQ3iVqo1zOXAM9JSLWqi0EtpNQOUVUVlcYW57N/wNM0Nut+4qo5ayk2VZY0aIhPmA9yJSta24="
      }
    },
    "headers": {
      "ExpiresAfter": {
        "description": "date in UTC when token expires",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    }
  }
}
